<ul class="pagination pagination-sm no-margin pull-right">
    <li><a class="first">首页</a></li>
	<li><a class="pre">上一页</a></li>
	<li><a class="next">下一页</a></li>
	<li><a class="last">尾页</a></li>
	<li><a class="rowCount">总记录数(0)</a></li>
	<li><a class="pageCount">总页数(0)</a></li>
	<li><a class="pageCurrent">当前页(1)</a></li>
</ul>
<script type="text/javascript">
  //
  $(function(){
	  //在pageId对象上注册click事件
	  //当点击pageId对象内部的first,pre等元素时,
	  //执行doJumpToPage事件处理函数.
	  $("#pageId")
	  .on("click",".first,.pre,.next,.last",doJumpToPage)
  });
  //分页事件处理
  function doJumpToPage(){
	  //1.获取点击对象的class属性值
	  //prop函数为jquery中获取对象属性值的一个函数
	  //prop函数语法prop(属性名,[属性值])
	  var cls=$(this).prop("class");
	  //2.基于class属性值修改当前页码值
	  //2.1获取当前页码值,总页数
	  var pageCurrent= $("#pageId").data("pageCurrent");
	  var pageCount=$("#pageId").data("pageCount");
      //2.2修改页码值
      if(cls=="first"){
    	  pageCurrent=1;
      }else if(cls=="next"&&pageCurrent<pageCount){
    	  pageCurrent++;
      }else if(cls=="pre"&&pageCurrent>1){
    	  pageCurrent--;
      }else if(cls=="last"){
    	  pageCurrent=pageCount;
      }else{return;}
	  //3.基于新的页码值执行查询操作.
	  $("#pageId").data("pageCurrent",pageCurrent);
	  doGetObjects();
  }
  //初始化分页信息
  function doInitPagination(){
	//1.初始化总记录数
	 $(".rowCount").html("总记录数(0)")
	//2.初始化总页数
	 $(".pageCount").html("总页数(0)")
	//3.初始化当前页码值
	 $(".pageCurrent").html("当前页(1)")
  }
  //设置分页信息
  function doSetPagination(pageObject){
	  //1.初始化总记录数
	  $(".rowCount")
	  .html("总记录数("+pageObject.rowCount+")")
	  //2.初始化总页数
	  $(".pageCount")
	  .html("总页数("+pageObject.pageCount+")")
	  //3.初始化当前页码值
	  $(".pageCurrent")
	  .html("当前页("+pageObject.pageCurrent+")")
	  //4.存储当前页码值,总页数
	  //data函数为juqery中的数据绑定函数
	  //data函数语法data(key,[value])
	  $("#pageId")
	  .data("pageCurrent",pageObject.pageCurrent);
	  $("#pageId")
	  .data("pageCount",pageObject.pageCount);
  }
</script>