<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleMenuDao">
   <select id="findMenuIdsByRoleIds"
         resultType="int">
         select menu_id
         from sys_role_menus
         <where> 
          <foreach collection="roleIds"
                   separator="or"
                   item="roleId">
               role_id=#{roleId} 
           </foreach>
         </where>
   </select>
   <select id="findMenuIdsByRoleId"
           resultType="int">
       select menu_id
       from sys_role_menus
       where role_id=#{id}
   </select>
   <insert id="insertObjects">
      insert into sys_role_menus
      (role_id,menu_id)
      values <!-- (1,2),(1,3),(1,4) -->
      <foreach collection="menuIds"
               separator=","
               item="menuId">
               (#{roleId},#{menuId})
      </foreach>
   </insert>
</mapper>













